<li
	class="item draggable"
	data-item-id="{{item._id}}"
	data-uuid="{{item.uuid}}"
>

	<div class="item-image" data-action="itemChatClick" style="background-image: url({{#if item.activeImg}}{{item.activeImg}}{{else}}{{item.img}}{{/if}})">
		<i class="fas fa-comment fa-lg"></i>
	</div>
	<a class="item-name" data-action="showDetails">
		{{item.name}}
		{{#if item.lightSourceUsed}}
			{{#if item.lightSourceExpended}}
			<em>{{localize "SHADOWDARK.inventory.item.light_expended"}}</em>
			{{else}}
			<em>{{localize "SHADOWDARK.inventory.item.light_used"}}</em>
			{{/if}}
		{{/if}}
	</a>
	{{#if item.lightSourceUsed}}
		<div data-tooltip="{{lightSourceTimeRemaining}}">
			{{item.lightSourceProgress}}
		</div>
	{{/if}}

	{{#if item.hasCharges}}
		{{#ifCond item.system.magic_charges '<' item.system.max_magic_charges}}
		<a
			data-action="rechargeMagicItem"
			data-item-id="{{item._id}}"
			data-tooltip="{{localize 'SHADOWDARK.inventory.tooltip.recharge_magic_item'}}"
		>
			<img src="/systems/shadowdark/assets/icons/svg/battery-pack-gray.svg" data-item-id="{{item._id}}" style="border: 0; margin-right: 0px; margin-left: 2px; flex: 0 0 16px; width: 16px; height: 16px;">
		</a>
		{{else}}
			<img src="/systems/shadowdark/assets/icons/transparent.png" style="border: 0; margin-right: 0px; margin-left: 2px; flex: 0 0 16px; width: 16px; height: 16px;">
		{{/ifCond}}
		{{#ifCond item.system.magic_charges '>' 0}}
		<a
			data-action="spendMagicalCharge"
			data-item-id="{{item._id}}"
			data-tooltip="{{localize 'SHADOWDARK.inventory.tooltip.spend_magical_charge'}}"
		>
			<img src="/systems/shadowdark/assets/icons/svg/simple-lightning-gray.svg" data-item-id="{{item._id}}" style="border: 0; margin-right: 2px; margin-left: 0px; flex: 0 0 16px; width: 16px; height: 16px;">
		</a>
		
		{{else}}
			<img src="/systems/shadowdark/assets/icons/transparent.png" style="border: 0; margin-right: 2px; margin-left: 0px; flex: 0 0 16px; width: 16px; height: 16px;">
		{{/ifCond}}
		{{item.system.magic_charges}}/{{item.system.max_magic_charges}}
	{{/if}}

	<div class="quantity">
		{{#if item.showQuantity}}
			{{#if owner}}
				<a
					data-action="itemDecrement"
					data-item-id="{{item._id}}"
					data-tooltip="{{localize 'SHADOWDARK.inventory.tooltip.item_decrement'}}"
				>
					<i class="fa-regular fa-minus fa-xs" data-item-id="{{item._id}}"></i>
				</a>
			{{/if}}

			{{item.system.quantity}}/{{item.system.slots.per_slot}}

			{{#if owner}}
				<a
					data-action="itemIncrement"
					data-item-id="{{item._id}}"
					data-tooltip="{{localize 'SHADOWDARK.inventory.tooltip.item_increment'}}"
				>
					<i class="fa-regular fa-plus fa-xs" data-item-id="{{item._id}}"></i>
				</a>
			{{/if}}
		{{else}}
			&nbsp;
		{{/if}}
	</div>

	<div class="slots">
		{{item.slotsUsed}}
	</div>

	<div class="actions">
		{{#if item.system.canBeEquipped}}
		{{#unless item.isArmorWhileManifestedMetalCore}}
			<a
				data-action="toggleEquipped"
				data-item-id="{{item._id}}"
				data-tooltip="{{localize 'SHADOWDARK.inventory.tooltip.toggle_equipped'}}"
			>
				{{#if item.system.equipped}}
					<i
						class="fas fa-user-shield"
						data-item-id="{{item._id}}"
						style="color:var(--primary);"
					></i>
				{{else}}
					<i class="fas fa-user-shield"
						data-item-id="{{item._id}}"></i>
				{{/if}}
			</a>
		{{/unless}}
		{{/if}}
		{{#if item.system.light.isSource}}
			{{#unless item.system.light.isExpended}}
				<a
					data-action="toggleLight"
					data-item-id="{{item._id}}"
					data-tooltip="{{localize 'SHADOWDARK.inventory.tooltip.toggle_light_source'}}"
					style="{{#if item.system.light.active}}color: darkorange;{{/if}}"
				>
					<i class="fa-solid fa-fire-flame-curved" data-item-id="{{item._id}}"></i>
				</a>
			{{/unless}}
		{{/if}}
		{{#ifEq item.type "Potion"}}
			{{#if item.system.isPotionIngredient}}
				{{#if potionCrafter}}
					<a
						class="item-control craft-potion"
						data-action="craftPotion"
						data-item-id="{{item._id}}"
						data-tooltip="{{localize 'SHADOWDARK.sheet.player.tooltip.craft_potion'}}"
					>
						<i class="fas fa-flask" data-item-id="{{item._id}}"></i>
					</a>
				{{/if}}
			{{else}}
				<a
					class="item-control use-potion"
					data-action="usePotion"
					data-item-id="{{item._id}}"
					data-tooltip="{{localize 'SHADOWDARK.sheet.player.tooltip.use_potion'}}"
				>
					<i class="fas fa-prescription-bottle" data-item-id="{{item._id}}"></i>
				</a>
			{{/if}}
		{{/ifEq}}
		{{#unless item.system.equipped}}
		<a
			data-action="toggleStashed"
			data-item-id="{{item._id}}"
			data-tooltip="{{localize 'SHADOWDARK.inventory.tooltip.toggle_stashed'}}"
		>
			<i class="fa-solid fa-box" data-item-id="{{item._id}}"></i>
		</a>
		{{/unless}}
		{{#if bulkSelling}}
			<a
				data-action="addToBulkSell"
				data-item-id="{{item._id}}"
				data-tooltip="{{localize 'SHADOWDARK.inventory.tooltip.sell_item'}}"
				{{#if item.system.bulkSelling}}style="color: darkorange;{{/if}}"
			>
				<i class="fa-solid fa-coins"></i>
			</a>
		{{/if}}
	</div>
</li>
