<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.inventory.slots'}}</label>
		<span></span>
	</div>
	<div class="content">
		<div class="value-grid larger">
			<div {{#ifCond slots.total '>' gearSlots}}style="color: red;"{{/ifCond}} data-tooltip="{{slots.totalTooltip}}">
				{{slots.total}}
			</div>
			<div>/</div>
			<div data-tooltip="{{gearSlotsTooltip}}">{{gearSlots}}</div>
		</div>
	</div>
</div>
