{{#if (eq system.talentClass 'nanoMagic')}}
    {{#unless (eq system.nanoProgramType 'talent')}}
    <div>
        <h3>{{localize 'SHADOWDARK.item.nano_magic_cost'}}</h3>
        <input type="number" name="system.nanoPointCost" value="{{system.nanoPointCost}}" default="0">
    </div>
    <div>
        <h3>{{localize 'SHADOWDARK.item.nano_magic_cost_per_level'}}</h3>
        <input type="number" name="system.nanoPointCostPerLevel" value="{{system.nanoPointCostPerLevel}}" default="0">
    </div>
    <div>
        <h3>{{localize 'SHADOWDARK.item.nano_magic_cost_formula'}}</h3>
        <select name="system.descriptionFormula">
            <option value=""{{#if (eq system.descriptionFormula '')}}selected{{/if}}>-</option>
            <option value="add"{{#if (eq system.descriptionFormula 'add')}}selected{{/if}}>number + increases</option>
            <option value="multiply"{{#if (eq system.descriptionFormula 'multiply')}}selected{{/if}}>number * (increases + 1)</option>
            <option value="power3"{{#if (eq system.descriptionFormula 'power3')}}selected{{/if}}>number * 3 ^ increases</option>
        </select>
    </div>
    {{/unless}}
{{/if}}
