<section class="tab {{tabs.boonDetails.cssClass}} boonDetails SD-content-body flex1" data-group="sheet" data-tab="boonDetails">
	<div class="grid-3-columns">
		<div>
			<h3>
				{{localize 'SHADOWDARK.boon.type.label'}}
			</h3>
			<select name="system.boonType">
				{{selectOptions config.BOON_TYPES
					localize=false
					selected=system.boonType
				}}
			</select>
		</div>

		<div>
			<h3>
				{{localize 'SHADOWDARK.item.level'}}
			</h3>
			{{numberInput item.system.level
				name="system.level"
				placeholder="0"
			}}
		</div>
	</div>
</section>
