<div
	class="shadowdark chat-card light-source-card"
	data-actor-id="{{actorId}}"
>
	<header class="card-header flexrow">
		<img src="{{actorImg}}" data-tooltip="{{message}}"/>
		<h3 class="light-source-name">{{message}}</h3>
		<img src="{{img}}" data-tooltip="{{message}}"/>
	</header>
</div>
