<div
	class="shadowdark chat-card light-source-card"
	data-actor-id="{{data.actor.id}}"
	{{#if tokenId}}
		data-token-id="{{tokenId}}"
	{{/if}}
>
	<header class="card-header flexrow">
		<img
			src="{{item.img}}"
			{{#if target}}
				{{localize "SHADOWDARK.chat.item.given"}} {{target.name}}
			{{else}}
				{{#if picked_up}}
					data-tooltip="{{name}} {{localize 'SHADOWDARK.chat.item.picked_up'}}"
				{{else}}
					data-tooltip="{{name}} {{localize 'SHADOWDARK.chat.item.dropped'}}"
				{{/if}}
			{{/if}}
		/>
		<h3 class="light-source-name">
			{{name}}
			{{#if target}}
				{{localize "SHADOWDARK.chat.item.given"}} {{target.name}}
			{{else}}
				{{#if picked_up}}
					{{localize "SHADOWDARK.chat.item.picked_up"}}
				{{else}}
					{{localize "SHADOWDARK.chat.item.dropped"}}
				{{/if}}
			{{/if}}
		</h3>
	</header>
</div>
