<div
	class="shadowdark chat-card roll-card"
	data-actor-id="{{data.actor.id}}"
	{{#if tokenId}}
		data-token-id="{{tokenId}}"
	{{/if}}
>
	<header class="card-header flexrow">
		<img src="{{data.actor.img}}" data-tooltip="{{title}}"/>
		<h3 class="roll-name">{{title}}</h3>
	</header>
	<div class="d20-roll card-roll blindable" data-blind="{{data.rolls.main.blind}}">
		{{#if data.rolls.main}}
			<div>{{{data.rolls.main.renderedHTML}}}</div>
		{{/if}}
	</div>

	{{#if data.rolls.damage}}
		<div class="card-damage-rolls">
			<div
				class="card-damage-roll-single blindable"
				data-blind="{{data.rolls.main.blind}}"
			>
				<h3>{{localize "SHADOWDARK.roll.taint_damage"}}:</h3>
				{{{data.rolls.damage.renderedHTML}}}
			</div>
		</div>
	{{/if}}
</div>
