<section class="tab details {{tabs.details.cssClass}}" data-tab="details" data-group="sheet">
	<div class="grid-1-columns">
		<div class="background-grid-a">
			{{!-- First Row --}}
			{{> actors/player/details/level }}
			{{#if evolutionGrid}}
				{{> actors/player/details/ancestry }}
				{{> actors/player/details/background }}
			{{else}}
				{{> actors/player/details/title }}
				{{> actors/player/details/class }}
			{{/if}}

			{{!-- Second Row --}}
			{{> actors/player/details/xp }}

			{{#if evolutionGrid}}
				{{> actors/player/details/languages }}
				{{> actors/player/details/deity }}
			{{else}}
				{{> actors/player/details/ancestry }}
				{{> actors/player/details/background }}
			{{/if}}
		</div>

		{{#if classHasPatron}}
			<div class="grid-3-columns">
				{{> actors/player/details/alignment }}
				{{> actors/player/details/deity }}
				{{> actors/player/details/patron }}
			</div>
		{{else}}
			{{#unless evolutionGrid}}
			<div class="grid-2-columns">
				{{> actors/player/details/alignment }}
				{{> actors/player/details/deity }}
			</div>
			{{/unless}}
		{{/if}}

		{{#if evolutionGrid}}
			{{> actors/player/details/evolutionGrid }}
			{{> actors/player/details/boons }}
		{{else}}
			{{> actors/player/details/languages }}
			{{> actors/player/details/boons }}
		{{/if}}
	</div>
</section>
