<section class="tab inventory {{tabs.inventory.cssClass}}" data-tab="inventory" data-group="sheet">
	<div class="inventory-grid">
		<div>
			{{> actors/player/inventory/equipped-gear }}
			{{> actors/player/inventory/carried-gear }}
			{{> actors/player/inventory/stashed-gear }}
		</div>

		<!--Sidebar-->
		<div>
			<div class="grid-1-columns">
				{{#if bulkSelling}}
					{{> actors/player/inventory/coins }}
					{{> actors/player/inventory/bulk-sell }}
				{{else}}
					{{> actors/player/inventory/slots }}
					{{> actors/player/inventory/coins }}
					{{> actors/player/inventory/gems }}
					<div data-action="startSellItems" style="display: grid; place-items: center;"><span class="fa-solid fa-coins"> {{localize 'SHADOWDARK.inventory.sell_items'}}</span></div>
					<div data-action="buyItems" style="display: grid; place-items: center;"><span class="fa-solid fa-balance-scale"> {{localize 'SHADOWDARK.inventory.buy_items'}}</span></div>
				{{/if}}
				{{#if system.bonuses.crafter}}
					<div data-action="craftItems" style="display: grid; place-items: center; margin-top: 5px;">
						<img src="/systems/shadowdark/assets/icons/anvil.png" height="32" />
						<span>{{localize 'SHADOWDARK.inventory.craft_items'}}</span>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</section>
