<div class="SD-box">
	<div class="header light">
		<label>{{localize 'SHADOWDARK.item.options'}}</label>
		<span></span>
	</div>
	<div class="content" style="display: grid;">
		<div style="display: grid; grid-template-columns: 48px 1fr; gap: 4px; margin-top: 2px; margin-bottom: 2px;">
            <a data-action="pickLightIcon"><img style="border: 0px; margin: auto; width: 48px; height: 48px;" src="{{unlitIcon}}" data-type="unlit" data-tooltip="{{localize "SHADOWDARK.item.light.icon_unlit_tooltip"}}"></a>
            <span style="align-self: center;">{{localize 'SHADOWDARK.item.light.icon_unlit'}}</span>
		</div>
		<div style="display: grid; grid-template-columns: 48px 1fr; gap: 4px; margin-top: 2px; margin-bottom: 2px;">
            <a data-action="pickLightIcon"><img style="border: 0px; margin: auto; width: 48px; height: 48px;" src="{{litIcon}}" data-type="lit" data-tooltip="{{localize "SHADOWDARK.item.light.icon_lit_tooltip"}}"></a>
            <span style="align-self: center;">{{localize 'SHADOWDARK.item.light.icon_lit'}}</span>
		</div>
		<div style="display: grid; grid-template-columns: 48px 1fr; gap: 4px; margin-top: 2px; margin-bottom: 2px;">
            <a data-action="pickLightIcon"><img style="border: 0px; margin: auto; width: 48px; height: 48px;" src="{{expendedIcon}}" data-type="expended" data-tooltip="{{localize "SHADOWDARK.item.light.icon_expended_tooltip"}}"></a>
            <span style="align-self: center;">{{localize 'SHADOWDARK.item.light.icon_expended'}}</span>
		</div>
	</div>
</div>
