{{#if attacks.melee.length}}
<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.player.melee_attacks'}}</label>
		<span></span>
	</div>
	<div class="content">
		{{#each attacks.melee as |attack|}}
			<div class="attack">
				<a
					class="rollable"
					data-action="itemAttack"
					data-attack-type="melee"
					data-handedness="{{attack.handedness}}"
					data-attack-option="{{attack.attackOption}}"
					data-base-damage="{{attack.baseDamage}}"
					data-item-id="{{attack.itemId}}"
				>
					<i class="fa-solid fa-dice-d20"
						data-attack-type="melee"
						data-handedness="{{attack.handedness}}"
						data-attack-option="{{attack.attackOption}}"
						data-base-damage="{{attack.baseDamage}}"
						data-item-id="{{attack.itemId}}"></i>
					{{{attack.display}}}
				</a>
			</div>
		{{/each}}
	</div>
</div>
{{/if}}

{{#if attacks.ranged.length}}
<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.player.ranged_attacks'}}</label>
		<span></span>
	</div>
	<div class="content">
		{{#each attacks.ranged as |attack|}}
			<div class="attack">
				<a
					class="rollable"
					data-action="itemAttack"
					data-attack-type="ranged"
					data-base-damage="{{attack.baseDamage}}"
					data-handedness="{{attack.handedness}}"
					data-item-id="{{attack.itemId}}"
				>
					<i class="fa-solid fa-dice-d20"
						data-action="itemAttack"
						data-attack-type="ranged"
						data-base-damage="{{attack.baseDamage}}"
						data-handedness="{{attack.handedness}}"
						data-item-id="{{attack.itemId}}"></i>
					{{{attack.display}}}
				</a>
			</div>
		{{/each}}
	</div>
</div>
{{/if}}

{{#if attacks.special.length}}
<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.player.special_attacks'}}</label>
		<span></span>
	</div>
	<div class="content">
		{{#each attacks.special as |attack|}}
			<div class="attack">
				<a
					class="rollable"
					data-action="specialAttack"
					data-attack-type="special"
					data-needs-roll="{{attack.needsRoll}}"
					data-base-damage="{{attack.baseDamage}}"
					data-removes-effect-key="{{attack.removesEffectKey}}"
				>
					<i class="fa-solid fa-dice-d20"
						data-action="specialAttack"
						data-attack-type="special"
						data-needs-roll="{{attack.needsRoll}}"
						data-removes-effect-key="{{attack.removesEffectKey}}"
						data-base-damage="{{attack.baseDamage}}"></i>
					{{{attack.display}}}
				</a>
			</div>
		{{/each}}
	</div>
</div>
{{/if}}

{{#if wounds.length}}
<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.player.wounds'}}</label>
		<span></span>
	</div>
	<div class="content" style="display: grid; grid-template-columns: 1fr 16px 16px 16px; column-gap: 2px">
		{{#each wounds}}
			<div class="attack"><b>{{damageDesc}} {{partDesc}}</b></div>
			<div>
				<i class="fa-solid fa-heartbeat"
					data-action="makeScar"
					data-tooltip="{{tooltip}}"
					data-index="{{@index}}"></i>
			</div>
			<div>
				<i class="fa-solid {{#if (eq level 1)}}fa-times-circle{{else}}fa-minus-circle{{/if}}"
					data-action="recoverWound"
					data-tooltip="{{#if (eq level 1)}}{{localize 'SHADOWDARK.wounds.remove'}}{{else}}{{localize 'SHADOWDARK.wounds.lower_level'}}{{/if}}"
					data-index="{{@index}}"></i>
			</div>
			<div>
				{{#unless (eq level 5)}}
				<i class="fa-solid fa-plus-circle"
					data-action="worsenWound"
					data-tooltip="{{localize 'SHADOWDARK.wounds.raise_level'}}"
					data-index="{{@index}}"></i>
				{{/unless}}
			</div>
		{{/each}}
	</div>
</div>
{{/if}}

{{#if scars.length}}
{{#> ui/sd-hideable-section
	sectionId="scars"
	sectionTitle=scarsTitle
	sectionTooltip=scarsTooltip
}}
	<div class="content" style="display: grid; grid-template-columns: 1fr 16px; column-gap: 2px">
		{{#each scars}}
			<div class="attack">
				<b>{{scarDesc}}</b>
			</div>
			<div>
			<i class="fa-solid fa-plus"
				data-action="removeScar"
				data-tooltip="{{localize 'SHADOWDARK.wounds.remove_scar'}}"
				data-index="{{@index}}"></i>
			</div>
		{{/each}}
	</div>
{{/ui/sd-hideable-section}}
{{/if}}
