{{#if (eq actor.system.magic.type 'metalMagic')}}
<div class="SD-box">
	<div class="header">
		<label>
			{{localize "SHADOWDARK.metal_core_hp_level_up"}}
		</label>
		<span>
			{{class.system.hitPoints}}
			{{#if rolls.metalCoreHp}}
				<a class="fas fa-dice" data-action="reRollMetalCoreHp"></a>
			{{/if}}
		</span>
	</div>

	<div class="content hit-points">
		{{#if rolls.metalCoreHp}}
			{{rolls.metalCoreHp}}
			{{#ifEq targetLevel 1}}
				<span style="font-size:0.7em">
					({{numberFormat hpMod
						decimals=0
						sign=true
					}})
				</span>
			{{/ifEq}}
		{{/if}}
		{{#unless rolls.metalCoreHp}}
			<button class="level-up" type="button" data-action="rollMetalCoreHp">
				{{localize "SHADOWDARK.sheet.general.roll_hp"}}
			</button>
		{{/unless}}
	</div>
</div>
{{/if}}